name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  schedule:
    - cron: "0 0 * * *"

  workflow_dispatch:

jobs:
  pip:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        python-version: ['3.8', '3.9', '3.10']
        requirements: [minimal_requirements.txt, requirements.txt]
        include:
          - os: macos-latest
            python-version: '3.10'
            extras: true
          - os: windows-latest
            python-version: '3.10'
            extras: true

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install pytest pytest-cov pytest-xdist
        python -m pip install -r ${{ matrix.requirements }} 

    - name: Test with pytest
      shell: bash -l {0}
      run: python -m pytest --cov=fgivenx

    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v1
