name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

  workflow_dispatch:

jobs:
  pip:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: [3.6, 3.7, 3.8, 3.9]
        requirements: [minimal_requirements.txt, requirements.txt]
    env:
      MPLBACKEND: Agg
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install pytest pytest-cov pytest-xdist
        python -m pip install -r ${{ matrix.requirements }} 

    - name: Test with pytest
      run: python -m pytest --cov=fgivenx -n auto

    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v1
